<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokédex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Busque um pokemon" labelPlacement="floating" placeholder="pokemon" [(ngModel)]="search"
      (ngModelChange)="changeForClear($event)"></ion-input>
    <ion-button class="buttonStyle" color="success" (click)="getDetailsPokemon(search,true)">Buscar</ion-button>
  </ion-item>
  <div *ngIf="results.length > 0; else notFoundRegister">
    <ion-card *ngFor="let pokemon of results">
      <img alt="{{pokemon.name}}" src="{{pokemon.url}}" *ngIf="pokemon.url; else notFoundImg" />
      <ng-template #notFoundImg>
        <div>
          <img alt="{{pokemon.name}}" width="96" height="96" src="{{imagePathNotFound}}" />
        </div>
      </ng-template>
      <ion-card-content>
        {{pokemon.name}}
      </ion-card-content>
    </ion-card>
  </div>
  <ion-card>
    <ng-template #notFoundRegister>
      <ion-card-content>
        Não foram encontrados pokémons.
      </ion-card-content>
    </ng-template>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" >
    <ion-infinite-scroll-content loadingSpinner="bubbles"
      loadingText="Carregando mais pokemons..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>