/* css ion */
ion-header {
  --background: #d53b47;
}

ion-toolbar {
  --background: #d53b47;
  --color: white;
}

ion-card {
  --background: none;
}

.imageCard {
  display: flex;
  justify-content: center;
}

.containerList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

:host ion-card {
  --background: none;
}

.ion-color-success {
  --ion-color-contrast: #fff !important;
}

ion-infinite-scroll {
  max-height: 30px;
}

.styledIconFavorite {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5%;
  margin-top: 5%;
  max-width: 30px;
  max-height: 30px;
}
